<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.babyoralhealth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.babyoralhealth.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.babyoralhealth.AgeActivity"
            android:label="@string/title_activity_age"
            android:parentActivityName="com.example.babyoralhealth.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.babyoralhealth.MainActivity" />
        </activity>
        <activity
            android:name="com.example.babyoralhealth.TeethActivity"
            android:label="@string/title_activity_teeth"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.babyoralhealth.AgeActivity" />
        </activity>
        <activity
            android:name="com.example.babyoralhealth.DentistActivity"
            android:label="@string/title_activity_dentist"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.babyoralhealth.TeethActivity" />
        </activity>
        <activity
            android:name="com.example.babyoralhealth.LastVisitActivity"
            android:label="@string/title_activity_last_visit"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.babyoralhealth.DentistActivity" />
        </activity>
        <activity
            android:name="com.example.babyoralhealth.TraitsActivity"
            android:label="@string/title_activity_traits"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.babyoralhealth.DisplayActivity"
            android:label="@string/title_activity_display" >
        </activity>
    </application>

</manifest>
